<span class="xit-box" id="exit">
  <%= image_tag("http://icons.iconarchive.com/icons/oxygen-icons.org/oxygen/24/Actions-application-exit-icon.png") %>
</span>
<h3>Users</h3>
  <hr>
  <div class="form-group">
    <ul>
      <% User.all.each do |user| %>
        <div class="employee user"><li><%= user.username %></li>
        <li><%= button_to "Remove", api_v1_user_path(user.id), method: :delete, class: :delete, id: "#{user.id}", remote: true %></li></div>
      <% end %>
    </ul>
  </div>
<br><br>
<h3>Field Workers</h3>
<hr>
<div class="form-group">
  <ul>
    <% FieldWorker.where(status: "active").each do |field_worker| %>
      <div class="employee field-worker"><li><%= field_worker.username %></li>
      <li><%= button_to "Remove", api_v1_field_worker_path(field_worker.id), method: :patch, class: :delete, id: "#{field_worker.id}" %></li></div>
    <% end %>
  </ul>
</div>
<br><br>
<hr>
