<span class="xit-box" id="exit">
  <%= image_tag("http://icons.iconarchive.com/icons/oxygen-icons.org/oxygen/24/Actions-application-exit-icon.png") %>
</span>
<h3>Users</h3>
  <hr>
  <div class="form-group user">
    <table>
    <% User.all.each do |user| %>
    <tr>
      <td><div class="employee trelora-user"><%= user.username %></td>
      <td><%= button_to "Remove", api_v1_user_path(user.id), method: :delete, class: :delete, id: "#{user.id}", remote: true %></div></td>
    </tr>
    <% end %>
  </table>
  </div>
  <br><br>
<h3>Field Workers</h3>
<hr>
<div class="form-group field-worker">
  <table>
    <tr>
      <% FieldWorker.where(status: "active").each do |field_worker| %>
      <td><div class="employee trelora-field-worker"><%= field_worker.username %></td>
      <td><%= button_to "Remove", api_v1_field_worker_path(field_worker.id), method: :patch, class: :delete, id: "#{field_worker.id}" %></div></td>
    </tr>
    <% end %>
  </table>
</div>
<br><br>
<hr>
